.auth-logo {
    transform: scale(1.5) !important;
    margin: unset !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 2 rem !important;
    margin-bottom: 3 rem !important;

}
