.removeVerify {
    background: #f4f5f7;
    border-radius: 10px;
    padding: 5rem 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-bottom: 10px solid #fa9600;

}

.btn svg {
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 74px;
    height: 30px;
}


.emptyElementLoans {
    color: #002e40;
    font-weight: 700;
    margin: 1rem 0rem;
    text-align: center;
    font-size: larger;
}

button.flex-fill.rounded-0 {
    width: -webkit-fill-available;
}

[for=itemName],[for=itemNote],[for=itemPlace],[for=itemInventory_number] {
    font-weight: 700;
    float: left;
    margin-right: 12px;
    color: #002e40;
    font-size: large;
}

[for=itemName] {
    display: none;
}

.itemName, .itemNote, .itemPlace, .itemInventory_number {
    margin-bottom: 7px;
    border-bottom: 1px solid #002e4021;
    color: #002e40;
}

.itemInventory_number{
    margin-bottom: 30px;
}

.itemName {
    font-weight: 700;
    font-size: 2rem;
}

.itemDiv {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 10px solid #fa9600;
    border-radius: 10px;
    /*box-shadow: inset 0px -1px 9px #00000087;*/
}

.categoryDiv {
    background-color: #eaeaea !important;
    padding: 25px;
    color: white;
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-bottom: 3.5rem !important;
    overflow: hidden;
    /*box-shadow: 0px 0px 8px 5px #c3c3c3;*/
}

.categoryDiv div.h4 {
    color: #002e40;
    padding-top: 18px;
    font-size: xxx-large;
    font-weight: 600;
    text-align: center;
    margin-top: -26px;
    height: 90px;
    border-bottom: 5px solid #fa9600;
    margin-bottom: 30px;
}

.loanRecordBox {
    background: #fabd4a;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    color: black;
    overflow: hidden;
    height: 6rem;
}

.icon {
    float: left;
    /* height: initial; */
    height: 60px;
    width: 5%;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;

}

.iconSvg {
    width: 2rem;
    height: 3rem;
    margin-top: 10px;
    margin-right: 1rem;
    color: #002e40;
}


.userData {
    float: left;
    width: 70%;
    margin-top: 0.5rem;
}

a.userNameLink {
    text-decoration: none;
    float: left;
    height: 4rem;
    font-size: x-large;
    font-weight: 700;
    color: #002e40;
    margin-top: 0.4rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

.rentFromDiv, .rentToDiv {
    float: left;
    width: 30%;
    margin-left: 20px;
    color: #002e40;
    margin-top: 0.4rem;
}



@media (max-width: 780px) {

    .userData {
        width: 100%;
        margin-left: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        float: none;
        margin-left: 0px;
    }

    .rentFromDiv, .rentToDiv {
        float: none;
        width: 100%;
        color: #002e40;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    a.userNameLink {
        float: none;
        width: 100%;
        display: block;
        padding-top: 1rem;
        text-align: center;
    }

    .icon {
        float: none;
        height: 0px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .iconSvg {
        width: 2rem;
        height: 3rem;
        margin-top: 10px;
        color: #002e40;
        margin-left: auto;
        margin-right: auto;
        margin-top: -0.5rem;
        margin-bottom: 0rem;
    }

    .loanRecordBox {
        height: 13.5rem;
    }


}


