.txx-area{
    height: 5rem;
    width: 90%;
    overflow: hidden;
    font-weight: 500;
}
.h-6p{
    height: 60px;
}

.w-200p{
    width: 150px;
}
.dataContainer {
    width: 100%;
}
.items-blocky {
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 10px solid #e0e0e0;
    border-radius: 10px;
    background: #f4f5f7;
}

@media (min-width: 576px) {
    .dataContainer {
        width: 93%;
    }
}
