button.flex-fill.rounded-0 {
    width: -webkit-fill-available;
}

overflow-hidden.shadow-xl.sm:rounded-lg {
    /* Tyhle boxíky, tak ať text v nich je dále od krajů */
}

.hlavicka {
    width: 100%;
    /* background: aqua; */
    display: inline-flex;
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 10px solid #fa9702;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* flex-flow: wrap; */
    /* height: -webkit-fill-available; */
}


.paticka {
    margin-bottom: 2rem;
}

.body {
    text-align: justify;
}

.buttonsDiv {
    width: 100%;
    float: none;
    height: 82px;

}
.buttonsDivItem {
    height: 38px;
}

.textyDash {
    background: #f4f5f7;
    margin-bottom: 1.5rem;
    display: flow-root;
    border-radius: 10px;
    border-bottom: 10px solid #e0e0e0;
    padding: 1rem 1rem;
}

.nadpisyDash {
    float: left;
    font-size: xx-large;
    display: contents;
    font-weight: 600;

}
