
/* Notifikace */
img.notificationSVG {
    width: 30px;
}

.notificationBadge {
    float: right;
    position: absolute;
    top: -10px;
    right: -25px;
}

.notification {
    float: right;
    z-index: 5;
    position: relative;
    top: -125px;
    cursor: pointer;
}
#messageModal, #notificationModal {
    background: #00000073;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    transition-duration: 1s;
}

.messagesHeaderBox{
    background: #002e40;
    margin-bottom: 15px;
    width: 115%;
    margin-left: -34px;
    padding-left: 22px;
    border-bottom: 15px solid #ff9d09;
}

#messagesBox{
    /*overflow: scroll;*/
    overflow-x: hidden;
    height: 30vw;
    padding-right: 15px;
}

.messageBackground {
    width: 90%;
    margin-top: 4%;
    padding-bottom: 20px;
    border-bottom: 15px solid white;
    box-shadow: 3px 3px 20px 8px #00000057;
}

.messageCross {
    font-weight: bold;
    float: right;
    cursor: pointer;
}

div#message {
    color: #002e40;
    background: #e6e6e6;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: -1px 3px 10px 0px #00000026;
    transition-duration: 0.5s;
    cursor: pointer;
}

div#message:hover {
    border-left: 10px solid #002e40;
}

.messPriority0 {
    border-left: 10px solid #fa9600;
}

.messageCrossLoading {
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin-top: 3px;
}

div#emptyMessages {
    color: #fa9600;
    text-align: center;
    font-weight: 800;
    margin-top: 30px;
    font-size: 20px;
}

.newMessageBox {
    vertical-align: middle;
    display: flex;
    margin-right: 5%;

}

.newMessageBox button.btn.btn-light {
    padding-right: 5vw;
    padding-left: 2vw;
    border-radius: 0;
    background: #002e40;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.newMessageBox button.btn.btn-light:hover {
    background: #2A5769;

}



input#userNameTo {
    width: 80%;
    height: 50px;
    /* background: antiquewhite; */
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #efefef;
    border-radius: 10px;
}

textarea#messageText {
    width: 100%;
    text-decoration: none;
    height: 15vw;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
}

@media (max-width: 1000px) {

    .messageBackground {
        height: 90%;
    }

    #messagesBox{

        height: 85%;
        padding-right: 15px;
        padding-left: 15px;
    }

    textarea#messageText {
        height: 50%;
    }

}

@media (max-width: 638px) {

    .messageBackground {
        height: 90%;
    }

    #messagesBox{

        height: 85%;
        padding-right: 15px;
        padding-left: 15px;
    }

    textarea#messageText {
        height: 50%;
    }

}
